<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacante.company}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacante.location}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="nombre contrato">{{vacante.contract}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario</p>
        <p class="nombre">$ {{vacante.salary}}</p>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del Puesto</h2>
        <div class="vacante-descripcion">
            {{{vacante.description}}}
        </div>

        <a href="/vacantes/edit/{{vacante.url}}" class="btn btn-azul editar-btn">Editar vacante</a>
    </main>
    <aside class="sidebar">
        <h2>Conocimientos deseados</h2>
        <ul class="skills">
            {{#each vacante.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>
</div>

<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar al reclutador</h2>
        <p>Llena el formulario para poder ponernos en contacto contigo.</p>

        <form action="/vacantes/{{vacante.url}}" class="default-form" method="post" enctype="multipart/form-data">
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="name" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label for="">CV (PDF)</label>
            <input type="file" name="cv" >
        </div>
        <div class="campo">
            <input type="submit" value="Enviar" class="btn btn-verde">
        </div>
        </form>
    </div>
    <div class="info-reclutador">
        <h2>Informacion reclutador</h2>
        {{#if vacante.author.name}}
            <p>{{vacante.author.name}}</p>
        {{/if}}
        {{#if vacante.author.imgProfile}}
            <img src="/img/imgProfile/{{vacante.author.imgProfile}}" alt="">
        {{/if}}
    </div>
</div>